mutagen  # ==1.45.1
pytaglib  # ==1.5.0
pyyaml  # ==6.0
pandas  # ==1.3.5
PyDrive2  # ==1.15.0
wheel  # ==0.37.1
internetarchive  # ==2.3.0
beautifulsoup4  # ==4.9.3
python-gettext  # ==4.1

# ao3downloader
beautifulsoup4==4.9.3
certifi>=2023.7.22
chardet==4.0.0
EbookLib==0.17.1
idna==3.7
lxml==4.9.1
requests  # ==2.25.1
six==1.16.0
soupsieve==2.2.1
tqdm==4.66.3
# urllib3==2.5.0
urllib3>=2.6.3

# ao3-poster
# a new minor update to markupsafe changed the name of a function
# https://github.com/pallets/markupsafe/issues/284
# TODO adapt in own code
# ao3-poster  # 0.0.7
markupsafe==2.0.1

# Tweepy 4.4.0 does not have OAuth1UserHandler anymore, to update code https://docs.tweepy.org/en/v4.4.0/auth_tutorial.html#oauth-1-authentication
tweepy==4.14.0
pytumblr  # ==0.1.2
jsonpickle  # ==3.0.2