bs4
mutagen
pytaglib
pyyaml
pandas
pydrive
wheel
internetarchive

# ao3downloader
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
EbookLib==0.17.1
idna==2.10
lxml==4.6.3
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
tqdm==4.60.0
urllib3==1.26.4

# ao3-poster
# a new minor update to markupsafe changed the name of a function
# https://github.com/pallets/markupsafe/issues/284
# TODO check back in a few months to see if ao3-poster has been updated accordingly
ao3-poster
markupsafe==2.0.1